<div class="container mt-4 text-white bg-dark p-4 rounded shadow">
  <h2 class="mb-4"><i class="bi bi-cash-coin me-2"></i>Bienvenido</h2>
  <div class="d-grid gap-2 mb-4">
    <button class="btn btn-dark text-white border border-light" (click)="toggleForm()">
      <i [class]="showForm ? 'bi bi-x-circle me-2' : 'bi bi-box-arrow-in-right me-2'"></i>
      {{ showForm ? 'Cancelar' : 'Abrir Caja' }}
    </button>
    <button class="btn btn-outline-light" (click)="logout()">
      <i class="bi bi-box-arrow-left me-2"></i>Logout
    </button>
  </div>

  <div *ngIf="showForm" class="mt-4">
    <h3><i class="bi bi-pencil-square me-2"></i>Registrar Monto Inicial</h3>
    <form (ngSubmit)="openCashRegister()" class="bg-secondary p-3 rounded">
      <div class="mb-3">
        <label for="initialAmount" class="form-label text-white">Monto Inicial</label>
        <input 
          type="number" 
          id="initialAmount" 
          class="form-control" 
          [(ngModel)]="initialAmount" 
          name="initialAmount" 
          required 
          min="0">
      </div>
      <button type="submit" class="btn btn-light w-100">
        <i class="bi bi-box-arrow-in-right me-2"></i>Abrir Caja
      </button>
    </form>
  </div>
</div>
