<!-- INVENTARIO -->
<div class="container mt-4">
  <h2 class="mb-4">Lista de Items</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Fecha de Recepción</th>
          <th>Fecha de Expiración</th>
          <th>Descuento</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td><img [src]="item.product?.img" class="img-thumbnail" alt="{{ item.name }}" style="max-width: 100px;"></td>
          <td>{{ item.product?.name }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.stock }}</td>
          <td>{{ item.receivedDate | date }}</td>
          <td>{{ item.expirationDate ? (item.expirationDate | date) : 'N/A' }}</td>
          <td>{{ item.discount }}%</td>
          <td>
            <a class="btn btn-primary btn-sm" [routerLink]="['/dashboard/admin/items-update', item._id]" ><i class="bi bi-pencil-fill"></i> Editar</a>
            <a class="btn btn-danger btn-sm" (click)="deleteItem(item._id)"><i class="bi bi-trash3-fill"></i> Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="pageChanged($event)" [maxSize]="totalItems"></pagination-controls>
</div>