<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Lista de Ingredientes</h2>
    <button class="btn btn-success" (click)="createIngredient()">Crear Ingrediente</button>
  </div>
  <div class="card">
    <div class="card-header bg-primary text-white">
      Ingredientes
    </div>
    <div class="card-body p-0">
      <table class="table table-hover mb-0">
        <thead class="table-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Medida</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Fecha de Recepción</th>
            <th scope="col">Fecha de Expiración</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ingredient of ingredients">
            <td>{{ ingredient.name }}</td>
            <td>{{ ingredient.quantity }}</td>
            <td>{{ ingredient.measurement }}</td>
            <td>{{ ingredient.provider?.name }}</td>
            <td>{{ ingredient.receivedDate | date }}</td>
            <td>{{ ingredient.expirationDate ? (ingredient.expirationDate | date) : 'N/A' }}</td>
            <td>
              <button class="btn btn-primary btn-sm me-2" (click)="editIngredient(ingredient._id!)">Editar</button>
              <button class="btn btn-danger btn-sm" (click)="deleteIngredient(ingredient._id!)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
