<div class="container mt-4">
  <h2 class="text-center mb-4">Bienvenido, Usuario</h2>
  <div class="row">
    <div class="col-md-6">
      <button [disabled]="isOpenCashRegister" class="btn-custom abrir" (click)="openCashRegister()">
        Abrir Caja <span class="badge bg-secondary">A</span>
      </button>
    </div>
    <div class="col-md-6">
      <button class="btn-custom realizar" (click)="performSale()">
        Realizar Venta <span class="badge bg-secondary">S</span>
      </button>
    </div>
    <div class="col-md-6">
      <button class="btn-custom cerrar" (click)="closeCashRegister()">
        Cerrar Caja <span class="badge bg-secondary">G</span>
      </button>
    </div>
    <div class="col-md-6">
      <button class="btn-custom ventas" (click)="viewDailySales()">
        Ver Ventas Diarias <span class="badge bg-secondary">D</span>
      </button>
    </div>
    <div class="col-md-6">
      <button class="btn-custom items" (click)="viewItems()">
        Items Disponibles <span class="badge bg-secondary">I</span>
      </button>
    </div>
    <div class="col-12 mt-4">
      <button class="btn-custom cerrarSesion" (click)="logout()">
        Cerrar Sesión
      </button>
    </div>
  </div>

  <div *ngIf="isOpenCashRegister" class="alert alert-info mt-4">Caja Abierta</div>
</div>