<div class="card">
      <div class="container mt-4">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Productos Más Vendidos por Semana</h2>
            <div>
              <button class="btn btn-primary me-2" (click)="prevWeek()">Semana Anterior</button>
              <button class="btn btn-primary" (click)="nextWeek()">Semana Siguiente</button>
              <button class="btn btn-primary" (click)="downloadCsvWhitPage()">Generar Informe</button>
            </div>
          </div>
          <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="mb-4">
            <div class="row">
              <div class="col-md-6">
                <label for="year" class="form-label">Año:</label>
                <input type="number" formControlName="year" class="form-control" id="year">
              </div>
              <div class="col-md-6">
                <label for="week" class="form-label">Semana:</label>
                <input type="number" formControlName="week" class="form-control" id="week">
              </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Buscar</button>
          </form>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Ranking</th>
                <th>Producto</th>
                <th>Cantidad Vendida</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of topSellingProducts; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ product.product.name }}</td>
                <td>{{ product.totalQuantity }}</td>
              </tr>
            </tbody>
          </table>
          <div style="display: block;">
            <canvas baseChart
                    [data]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    >
            </canvas>
          </div>
        </div>

  </div>