<div class="sidebar-container" [class.collapsed]="isCollapsed">
  <!-- Botón para colapsar/expandir -->
  <button class="toggle-btn" (click)="toggleSidebar()">
    <i class="bi" [ngClass]="isCollapsed ? 'bi-chevron-right' : 'bi-chevron-left'"></i>
  </button>

  <!-- Logo y Título -->
  <div class="sidebar-header">
    <a class="logo">
      <span *ngIf="!isCollapsed">Cconor POS</span>
      <img src="../../../assets/img/cconor-logo-no-text.png" alt="" class="logo-img">
    </a>
  </div>

  <!-- Navegación Sidebar -->
  <nav class="sidebar-nav">
    <div class="sidebar-menu" *ngFor="let menuItem of menuItems">
      <a class="sidebar-toggle" (click)="toggleSubmenu(menuItem)">
        <i [class]="menuItem.icon"></i>
        <span *ngIf="!isCollapsed">{{menuItem.title}}</span>
      </a>
      <div class="submenu" [class.show]="menuItem.isOpen">
        <ul style="list-style-type:none">
          <li *ngFor="let item of menuItem.submenu">
            <a [routerLink]="item.url" routerLinkActive="active" class="sidebar-link">
              <i [class]="item.icon"></i>
              <span *ngIf="!isCollapsed">{{item.title}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <a class="sidebar-toggle" role="button" (click)="logOut()">
      <i class="bi bi-power"></i>
      <span *ngIf="!isCollapsed">LOGOUT</span>
    </a>
  </nav>
</div>