<div class="sidebar-container">
  <!-- Logo y Título -->
  <div class="sidebar-header">
    <a href="/" class="logo">
      <span>Cconor POS</span>
      <img src="../../../assets/img/cconor-logo-no-text.png" alt="" class="logo-img">
    </a>
  </div>

  <!-- Navegación Sidebar -->
  <nav class="sidebar-nav">
    <div class="sidebar-menu">
      <a class="sidebar-toggle" data-bs-toggle="collapse" [attr.href]="'#' + menuItems[0].id" role="button" aria-expanded="false" [attr.aria-controls]="menuItems[0].id">
        <i class="bi bi-person-lines-fill"></i> {{menuItems[0].title || 'asddas'}}
      </a>
      <div class="collapse" [attr.id]="menuItems[0].id">
        <ul>
          <li *ngFor="let item of menuItems[0].submenu" [routerLink]="item.url">
            <a [routerLink]="item.url" routerLinkActive="active" class="sidebar-link">
              <i [class]="item.icon"></i> {{item.title}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <a class="sidebar-toggle" role="button" (click)="logOut()">
      <i class="bi bi-power"></i> LOGOUT
    </a>
  </nav>
</div>