<div class="main-container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Imagen</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Marca</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td><div class="img-container"><img [src]="item?.img" class="img-fluid" alt="{{ item!.name }}"></div></td>
                <td>{{ item!.name }}</td>
                <td>{{ item!.description }}</td>
                <td>{{ item!.marca }}</td>
                <td *ngIf="userRole === 'admin'"><a class="btn btn-primary"  [routerLink]="['/dashboard/admin/product/edit/', item._id]">Editar</a></td>
                <td *ngIf="userRole === 'sysadmin'"><a class="btn btn-primary"  [routerLink]="['/dashboard/sysadmin/product/edit/', item._id]">Editar</a></td>
            </tr>
        </tbody>
    </table>
</div>
