<div class="main-container">
  <div class="form-container">
      <div class="form-header">
          <div class="form-title">
              <h2>Editar Producto</h2>
          </div>
      </div>
      <div class="image-container">
          <img *ngIf="product.img==''" src="../../../../../assets/img/no-img.webp" alt="Avatar de usuario" (click)="abrirModal(product,'productos')" class="product-image">
          <img *ngIf="product.img!=''" [src]="product.img" alt="Avatar de usuario" (click)="abrirModal(product,'productos')" class="product-image">
      </div>
      <form [formGroup]="productForm" (ngSubmit)="updateCompany()" class="form">
          <div class="form-group">
              <label for="name" class="form-label">Nombre del producto</label>
              <input type="text" id="name" formControlName="name" class="form-input">
          </div>
          <div class="form-group">
              <label for="description" class="form-label">Descripción</label>
              <textarea id="description" formControlName="description" class="form-input"></textarea>
          </div>
          <div class="form-group">
              <label for="marca" class="form-label">Marca</label>
              <input type="text" id="marca" formControlName="marca" class="form-input">
          </div>
          <div class="form-group">
              <label for="category" class="form-label">Categoría:</label>
              <ng-select [items]="Categories" bindLabel="name" bindValue="_id" formControlName="category" [multiple]="true" class="form-select">
              </ng-select>
          </div>
          <div class="form-group" *ngIf="productForm.invalid">
              <p *ngIf="campoNoValidoDatosUsuario('name')">Nombre inválido</p>
              <p *ngIf="campoNoValidoDatosUsuario('description')">Descripción inválida</p>
              <p *ngIf="campoNoValidoDatosUsuario('marca')">Dirección inválida</p>
              <p *ngIf="campoNoValidoDatosUsuario('tel')">Teléfono inválido</p>
              <p *ngIf="campoNoValidoDatosUsuario('email')">Correo electrónico inválido</p>
          </div>
          <button type="submit" [disabled]="!productForm.valid" class="form-button">Guardar Cambios</button>
      </form>
  </div>
</div>
