<form [formGroup]="categoryForm" (ngSubmit)="actualizarCategory()" class="form">
    <!-- Nombre Completo del Usuario -->
    <div class="form-group">
        <label for="name" class="form-label">Nombre de categoria</label>
        <input type="text" id="name" formControlName="name" class="form-input">
    </div>

    <!-- Nombre de Usuario -->
    <div class="form-group">
        <label for="description" class="form-label">Descripcion</label>
        <textarea type="text" id="description" formControlName="description" class="form-input" ></textarea>
    </div>

    <div class="form-group" *ngIf="categoryForm.invalid">
        <p *ngIf="campoNoValidoDatosUsuario('name')">Nombre inválido</p>
        <p *ngIf="campoNoValidoDatosUsuario('username')">Nombre de usuario inválido</p>
        <p *ngIf="campoNoValidoDatosUsuario('role')">Role inválido</p>
    </div>

    <!-- Botón para guardar los cambios -->
    <button type="submit" class="form-button">Guardar Cambios</button>
</form>