<div class="main-container">
  <div class="form-container">
      <div class="form-header">
          <div class="form-title">
              <h2>Crear Nuevo Usuario</h2>
          </div>
      </div>
      <form #userForm="ngForm" class="form">
          <!-- Nombre Completo -->
          <div class="form-group">
              <label for="fullName" class="form-label">Nombre Completo</label>
              <input type="text" id="fullName" [(ngModel)]="user.name" name="name" required class="form-input">
          </div>

          <!-- Nombre de Usuario -->
          <div class="form-group">
              <label for="username" class="form-label">Nombre de Usuario</label>
              <input type="text" id="username" [(ngModel)]="user.username" name="username" required class="form-input">
          </div>

          <!-- Email -->
          <div class="form-group">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" [(ngModel)]="user.email" name="email" required class="form-input">
          </div>

          <!-- Contraseña -->
          <div class="form-group">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" id="password" [(ngModel)]="user.password" name="password" required class="form-input">
          </div>

          <!-- Rol -->
          <div class="form-group" *ngIf="this.userRole=='sysadmin'">
              <label for="role" class="form-label">Rol</label>
              <select id="role" [(ngModel)]="user.role" name="role" required class="form-select">
                  <option value="admin">Admin</option>
                  <option value="user">Usuario</option>
              </select>
          </div>

          <!-- Botón para crear el usuario -->
          <button type="submit" (click)="createUser(userForm)" [disabled]="!userForm.form.valid" class="form-button">Crear Usuario</button>
      </form>
  </div>
</div>
