<div class="container mt-4">
    <div class="card shadow">
      <div class="card-header bg-primary text-white">
        <h2 class="mb-0">Crear Nuevo Usuario</h2>
      </div>
      <div class="card-body">
        <form #userForm="ngForm" (ngSubmit)="createUser(userForm)">
          <div class="mb-3">
            <label for="fullName" class="form-label">Nombre Completo</label>
            <input type="text" class="form-control" id="fullName" [(ngModel)]="user.name" name="name" required placeholder="Introduce el nombre completo">
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Nombre de Usuario</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username" required placeholder="Introduce el nombre de usuario">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required placeholder="Introduce el correo electrónico">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" required placeholder="Introduce la contraseña">
          </div>
          <div class="mb-3" *ngIf="this.userRole=='sysadmin'">
            <label for="role" class="form-label">Rol</label>
            <select class="form-select" id="role" [(ngModel)]="user.role" name="role" required>
              <option value="" disabled selected>Selecciona un rol</option>
              <option value="admin">Admin</option>
              <option value="user">Usuario</option>
            </select>
          </div>
          <div class="d-flex justify-content-between">
            <app-back-button></app-back-button>
            <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Crear Usuario</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  