<div class="container mt-4">
    <h2>Ingredientes</h2>
    <ul class="list-group mb-3">
      <li class="list-group-item" *ngFor="let ingredient of ingredients">
        <div class="row">
          <div class="col-md-4">{{ ingredient.name }}</div>
          <div class="col-md-2">{{ ingredient.quantity }} {{ ingredient.measurement }}</div>
          <div class="col-md-2">{{ ingredient.priceProvider | currency }}</div>
          <div class="col-md-4">{{ ingredient.provider }}</div>
        </div>
      </li>
    </ul>
    <!-- Formulario para agregar un nuevo ingrediente -->
    <form (ngSubmit)="addIngredient()" #ingredientForm="ngForm">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" id="name" class="form-control" [(ngModel)]="newIngredient.name" name="name" required>
      </div>
      <div class="mb-3">
        <label for="quantity" class="form-label">Cantidad</label>
        <input type="number" id="quantity" class="form-control" [(ngModel)]="newIngredient.quantity" name="quantity" required>
      </div>
      <div class="mb-3">
        <label for="priceProvider" class="form-label">Precio Proveedor</label>
        <input type="number" id="priceProvider" class="form-control" [(ngModel)]="newIngredient.priceProvider" name="priceProvider" required>
      </div>
      <div class="mb-3">
        <label for="measurement" class="form-label">Medida</label>
        <select id="measurement" class="form-select" [(ngModel)]="newIngredient.measurement" name="measurement" required>
          <option value="grms">grms</option>
          <option value="ml">ml</option>
          <option value="kg">kg</option>
          <option value="lts">lts</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="provider" class="form-label">Proveedor</label>
        <select id="provider" class="form-select" [(ngModel)]="newIngredient.provider" name="provider" required>
          <option *ngFor="let supplier of suppliers" [value]="supplier._id">{{ supplier.name }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="receivedDate" class="form-label">Fecha de Recepción</label>
        <input type="date" id="receivedDate" class="form-control" [(ngModel)]="newIngredient.receivedDate" name="receivedDate" required>
      </div>
      <div class="mb-3">
        <label for="expirationDate" class="form-label">Fecha de Expiración</label>
        <input type="date" id="expirationDate" class="form-control" [(ngModel)]="newIngredient.expirationDate" name="expirationDate">
      </div>
      <button type="submit" class="btn btn-primary">Agregar Ingrediente</button>
    </form>
  </div>
  