
    <div class="row align-items-center vh-100">
        <div class="col-md-6 text-center">
            <h1>Bienvenido a Nuestro Punto de Venta</h1>
            <p>La mejor solución para gestionar tus ventas, inventario y relaciones con los clientes.</p>
            <button class="btn btn-primary" (click)="navigateToApp()">Comienza Ahora</button>
        </div>
        <div class="col-md-6">
            <img src="assets/img/logo.png" alt="Imagen del Punto de Venta" class="img-fluid">
        </div>
    </div>
