<div class="all">
  <div class="login-container">
    <div class="login-section">
      <img src="../../../assets/img/cconor-logo-no-text.png" class="logo" alt="Logo">
      <h2 class="login-title">Iniciar Sesión</h2>
  
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="material-full-width">
          <mat-label>Nombre de Usuario</mat-label>
          <input type="text" matInput formControlName="username" placeholder="Ingresa tu usuario">
          <span *ngIf="(loginForm.hasError('username') && !loginForm.hasError('required') && loginForm.touched)">
        
            <mat-error>Please enter a valid email address</mat-error>
          </span>
          <span *ngIf="(loginForm.hasError('required')&&loginForm.touched)">
            <mat-error>Email is <strong>required</strong></mat-error>
          </span>
        </mat-form-field>
  
        <mat-form-field class="material-full-width">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput formControlName="password" placeholder="Ingresa tu contraseña">
          <mat-hint>Ingresa tu nombre de usuario</mat-hint>
            <span *ngIf="(loginForm.hasError('password') && !loginForm.hasError('required') && loginForm.touched)">
      
              <mat-error>Please enter a valid email address</mat-error>
              </span>
                <span *ngIf="(loginForm.hasError('required')&&loginForm.touched)">
                  <mat-error>Password is <strong>required</strong></mat-error>
                </span>
          </mat-form-field>
  
        <button type="submit" class="login-button" [disabled]="!loginForm.valid">Acceder</button>
      </form>
          
      <div class="login-links">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
    </div>
  </div>
  </div>