<div class="container mt-4">
  <div class="card shadow">
    <div class="card-header bg-primary text-white d-flex align-items-center">
      <i class="bi bi-egg me-2 fs-4"></i>
      <h2 class="mb-0">Crear Receta</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="createRecipeForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="name" class="form-label">Nombre de la Receta</label>
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Descripción</label>
          <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
        </div>
        <div formArrayName="ingredients">
          <h4 class="mb-3">Ingredientes</h4>
          <div *ngFor="let ingredient of ingredientsArray.controls; let i = index" [formGroupName]="i" class="row mb-3 align-items-end">
            <div class="col-md-5">
              <label [for]="'ingredient'+i" class="form-label">Ingrediente</label>
              <select [id]="'ingredient'+i" class="form-select" formControlName="ingredient">
                <option *ngFor="let ingredient of ingredients" [value]="ingredient._id">{{ ingredient.name }}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label [for]="'quantity'+i" class="form-label">Cantidad</label>
              <input type="number" [id]="'quantity'+i" class="form-control" formControlName="quantity">
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-outline-danger" (click)="removeIngredient(i)">Eliminar</button>
            </div>
          </div>
        </div>
        <div class="mb-3 d-flex justify-content-center">
          <button type="button" class="btn btn-outline-primary" (click)="addIngredient()">Agregar Ingrediente</button>
        </div>
        <div class="mb-3 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Crear Receta</button>
        </div>
      </form>
    </div>
  </div>
</div>