<div *ngIf="!company" class="card">
  <app-loading-data-spinner></app-loading-data-spinner>
</div>
<app-spinner *ngIf="!company"></app-spinner>

<div *ngIf="company" class="container mt-4">

  <!-- Card de presentacion -->
  <div class="company-card">
    <div class="company-image">
      <img [src]="company.img!" alt="Imagen de la Empresa" *ngIf="company.img!">
      <!--<img src="https://w.wallhaven.cc/full/qz/wallhaven-qzpm25.jpg" alt="Test de Imagen de la Empresa">-->
    </div>
    <div class="company-details">
      <div class="company-header">
        <h2 class="company-name">{{ company.name }}</h2>
        <button class="edit-button">
          <i class="bi bi-pencil-fill"></i>
        </button>
      </div>
      <p class="company-description">{{ company.description }}</p>
      <div class="company-info-group">
        <h4 class="info-group-title">Información de contacto</h4>
        <ul class="company-info">
          <li><strong><i class="bi bi-house-door-fill"></i> Dirección:</strong> {{ company.address }}</li>
          <li><strong><i class="bi bi-telephone-fill"></i> Teléfono:</strong> {{ company.tel }}</li>
          <li><strong><i class="bi bi-at"></i> Email:</strong> {{ company.email }}</li>
        </ul>
      </div>
    </div>
  </div>

  <tabs-menu  [default]="tabSelected" [items]="tabsArray" (tabSelectedOutput)="changeTab($event)"></tabs-menu>

  <!-- USUARIOS -->

  <div *ngIf="tabSelected == 'usuarios'" class="row">
    <user-list [padre]="false"></user-list>
    <!-- <div class="col-12 mx-auto text-center mb-2">
      <div class="card">
        <div class="card-header">
          <div class="card-title text-center">
            <h5>Búsqueda de Usuarios</h5>
          </div>
          <a name="" id="" class="btn btn-primary end" routerLink="users/new" role="button">
            <i class="bi bi-plus-lg"></i> Crear Usuario
          </a>
        </div>
        <form>
          <div class="m-5">
            <input type="text" class="form-control" id="busquedaEmpresa" aria-describedby="busquedaHelp" #terminoEmpresa>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 mx-auto text-center">
      <div class="card">
        <div class="card-title p-4 start">
          <h2>Lista de Usuarios Registrados</h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>img</th>
                  <th>Nombre</th>
                  <th>Nombre de Usuario</th>
                  <th>Rol</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td class="text-center">
                    <img *ngIf="user.img == 'no-image'" src="../../../../../assets/img/no-img.webp" alt="Avatar de usuario" class="avatar pointer" (click)="abrirModal(user, 'usuarios')">
                    <img *ngIf="user.img != 'no-image'" [src]="user.img" alt="Avatar de usuario" class="avatar pointer" (click)="abrirModal(user, 'usuarios')">
                  </td>
                  <td>{{ user.name || 'No Especificado' }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.role }}</td>
                  <td>
                    <button class="btn btn-primary btn-sm me-2 d-inline" [routerLink]="['users/edit', user._id]">
                      <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button class="btn btn-danger btn-sm d-inline">
                      <i class="bi bi-trash3-fill"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="card bg-primary text-light" *ngIf="!users">
              <app-loading-data-spinner class="mb-2"></app-loading-data-spinner>
              <p>Cargando Registros</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <!-- /USUARIOS -->

  <!-- ITEMS -->
  <stock-item-list *ngIf="tabSelected == 'inventario'"></stock-item-list>
  <!-- /ITEMS -->

  <!-- PRODUCTS -->
  <div *ngIf="tabSelected == 'productos'" class="row">
    <products-list></products-list>
    <!-- <div class="col-12 mx-auto text-center mb-2">
      <div class="card">
        <div class="card-header">
          <div class="card-title text-center">
            <h5>Búsqueda de Items</h5>
          </div>
          <a name="" id="" class="btn btn-primary end" routerLink="product/new" role="button">
            <i class="bi bi-bag-plus"></i> Crear Stock
          </a>
        </div>
        <form>
          <div class="m-5">
            <input type="text" class="form-control" id="busquedaEmpresa" aria-describedby="busquedaHelp" #terminoEmpresa>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 mx-auto text-center">
      <div class="card">
        <div class="card-title p-4 start">
          <h2>Productos {{ company.name | uppercase }}</h2>
        </div>
        <div class="card-body">
          <items-list [items]="products" [routerLink]=""></items-list>
        </div>
      </div>
    </div> -->
  </div>
  <!-- /PRODUCTS -->

  <!-- PROVEEDORES -->
  <div *ngIf="tabSelected == 'proveedores'" class="row">
    <suppliers-list></suppliers-list>
    <!-- <div class="col-12 mx-auto text-center mb-2">
      <div class="card">
        <div class="card-header">
          <div class="card-title text-center">
            <h5>Búsqueda de Proveedores</h5>
          </div>
          <a name="" id="" class="btn btn-primary end" routerLink="suppliers/new/{{ company._id }}" role="button">
            <i class="bi bi-plus-lg"></i> Crear Proveedor
          </a>
        </div>
        <form>
          <div class="m-5">
            <input type="text" class="form-control" id="busquedaEmpresa" aria-describedby="busquedaHelp" #terminoEmpresa>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 mx-auto text-center">
      <div class="card">
        <div class="card-title p-4 start">
          <h2>Lista de Proveedores Registrados</h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Número</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let supplier of suppliers">
                  <td>{{ supplier.name || 'No Especificado' }}</td>
                  <td>{{ supplier.description || 'No Especificado' | slice:0:49 }}</td>
                  <td>{{ supplier.contactInfo.phone }}</td>
                  <td>
                    <button class="btn btn-primary btn-sm me-2 d-inline" [routerLink]="['/dashboard/admin/suppliers/edit', supplier._id]">
                      <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button class="btn btn-danger btn-sm d-inline">
                      <i class="bi bi-trash3-fill"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="card bg-primary text-light" *ngIf="!users">
              <app-loading-data-spinner class="mb-2"></app-loading-data-spinner>
              <p>Cargando Registros</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <!-- /PROVEEDORES -->

  <!-- CATEGORIAS -->
  <div *ngIf="tabSelected == 'categorias'" class="row">
    <categories-list></categories-list>
    <!-- <div class="col-12 mx-auto text-center mb-2">
      <div class="card">
        <div class="card-header">
          <div class="card-title text-center">
            <h5>Búsqueda de Categorías</h5>
          </div>
          <a name="" id="" class="btn btn-primary end" routerLink="categories/new/{{ company._id }}" role="button">
            <i class="bi bi-plus-lg"></i> Crear Categoría
          </a>
        </div>
        <form>
          <div class="m-5">
            <input type="text" class="form-control" id="busquedaEmpresa" aria-describedby="busquedaHelp"
              #terminoCategoria>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 mx-auto text-center">
      <div class="card">
        <div class="card-title p-4 start">
          <h2>Lista de Categorías</h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of categories">
                  <td>{{ category.name || 'No Especificado' }}</td>
                  <td>{{ category.description }}</td>
                  <td>
                    <button class="btn btn-primary btn-sm me-2 d-inline"
                      [routerLink]="['/dashboard/sysadmin/categories/edit', category._id]">
                      <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button class="btn btn-danger btn-sm d-inline">
                      <i class="bi bi-trash3-fill"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="card bg-primary text-light" *ngIf="!users">
              <app-loading-data-spinner class="mb-2"></app-loading-data-spinner>
              <p>Cargando Registros</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <!-- /CATEGORIAS -->

  <!--RECIPES-->

  <div *ngIf="tabSelected == 'recetas'" class="row">
    <div class="card">
      <div class="card-title p-4 start">
        <h2>lista de recetas</h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr *ngFor="let recipe of recipes">
                <td class="text-center">
                </td>
                <td>{{ recipe.name || 'No Especificado' }}</td>
                <td>{{ recipe.description }}</td>
              </tr>
            </tbody>
          </table>
          <div class="card bg-primary text-light" *ngIf="!users">
            <app-loading-data-spinner class="mb-2"></app-loading-data-spinner>
            <p>Cargando Registros</p>
          </div>
        </div>
      </div>
    </div>
  <!--/RECIPES-->
</div>