<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-5">
            <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <img src="src/img/logo.jpg" alt="Logo" class="img-fluid mb-4 d-block mx-auto" style="max-width: 200px;">
                    <h5 class="card-title mb-4 text-center">Iniciar Sesión</h5>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group mb-3">
                            <input type="email" class="form-control" formControlName="email" placeholder="Correo Electrónico" required>
                            <!-- Mensaje de error para el campo email -->
                            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger">
                                <div *ngIf="email?.errors['required']">El correo electrónico es requerido.</div>
                                <div *ngIf="email?.errors['email']">Ingrese un correo electrónico válido.</div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <input type="password" class="form-control" formControlName="password" placeholder="Contraseña" required>
                            <!-- Mensaje de error para el campo contraseña -->
                            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
                                La contraseña es requerida.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary d-block mx-auto mb-3" [disabled]="loginForm.invalid">Ingresar</button>
                        <div class="text-center">
                            <a href="#" class="text-decoration-none text-primary">Olvidé mi contraseña</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
