<div class="main-container">
  <div class="form-container">
      <div class="form-header">
          <div class="form-title">
              <h2>Editar Usuario</h2>
          </div>
      </div>
      <form [formGroup]="userForm" (ngSubmit)="updateUser()" class="form">
          <!-- Nombre Completo del Usuario -->
          <div class="form-group">
              <label for="name" class="form-label">Nombre Completo</label>
              <input type="text" id="name" formControlName="name" class="form-input">
          </div>

          <!-- Nombre de Usuario -->
          <div class="form-group">
              <label for="username" class="form-label">Nombre de Usuario</label>
              <input type="text" id="username" formControlName="username" class="form-input">
          </div>
          
          <!-- Correo Electrónico -->
          <div class="form-group">
              <label for="email" class="form-label">Correo Electronico</label>
              <input type="text" id="email" formControlName="email" class="form-input">
          </div>

          <div class="form-group" *ngIf="userForm.invalid">
              <p *ngIf="campoNoValidoDatosUsuario('name')">Nombre inválido</p>
              <p *ngIf="campoNoValidoDatosUsuario('username')">Nombre de usuario inválido</p>
              <p *ngIf="campoNoValidoDatosUsuario('role')">Role inválido</p>
          </div>

          <!-- Botón para guardar los cambios -->
          <button type="submit" class="form-button">Guardar Cambios</button>
      </form>
  </div>
</div>
