<!-- Contenido principal de la Landing Page -->
<div class="container mt-5">
    <!-- Hero Section -->
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h1>Bienvenido a Cconor POS</h1>
        <p class="lead">La solución perfecta para la gestión de puntos de venta para negocios locales.</p>
        <a href="#" class="btn btn-primary">Descubre más</a>
      </div>
      <div class="col-lg-6">
        <img src="/assets/img/logo.png" class="img-fluid" alt="Hero Image">
      </div>
    </div>
  
    <!-- Features Section -->
    <section class="my-5">
      <div class="row text-center">
        <div class="col-md-4 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Gestión de Inventario</h5>
              <p class="card-text">Controla tu inventario en tiempo real y nunca pierdas de vista tus productos.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Ventas y Facturación</h5>
              <p class="card-text">Procesa ventas rápidamente y genera facturas con facilidad.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Reportes Detallados</h5>
              <p class="card-text">Obtén reportes detallados para tomar decisiones informadas sobre tu negocio.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- About Section -->
    <section class="my-5">
      <div class="row">
        <div class="col-lg-6">
            <img src="/assets/img/logo2.png" class="img-fluid" alt="About Us">
          </div>
        <div class="col-lg-6">
          <h2>Acerca de Nosotros</h2>
          <p>En Cconor POS, estamos comprometidos con el desarrollo de soluciones que impulsen el crecimiento de los negocios locales.</p>
        </div>
        
      </div>
    </section>
  
    <!-- Contact Section -->
    <section class="my-5">
      <div class="row">
        <div class="col-lg-12">
          <h2>Contacto</h2>
          <p>¿Tienes preguntas? No dudes en contactarnos para obtener más información sobre nuestros servicios.</p>
          
        </div>
      </div>
    </section>
  </div>
  
