<div class="container mt-4">
  <h2>Bienvenido, Usuario</h2>
  <div *ngIf="isOpenCashRegister" class="alert alert-danger mt-4">
    No puede abrir una nueva caja, ya tiene una abierta.
  </div>
  <div *ngIf="!isOpenCashRegister">
    <button class="btn btn-primary" (click)="toggleForm()">
      Abrir Caja
    </button>
    <div *ngIf="showForm" class="mt-4">
      <form [formGroup]="openCashRegisterForm" (ngSubmit)="openCashRegister()">
        <div class="mb-3">
          <label for="initialAmount" class="form-label">Monto Inicial</label>
          <input type="number" id="initialAmount" formControlName="initialAmount" class="form-control" min="0" required>
        </div>
        <button type="submit" class="btn btn-success">Confirmar</button>
      </form>
    </div>
  </div>
  <button class="btn btn-danger mt-4" (click)="logout()">
    Cerrar Sesión
  </button>
</div>
