<div class="container mt-4">
    <h2>Editar Ingrediente</h2>
    <form [formGroup]="editIngredientForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" id="name" class="form-control" formControlName="name">
      </div>
      <div class="mb-3">
        <label for="quantity" class="form-label">Cantidad</label>
        <input type="number" id="quantity" class="form-control" formControlName="quantity">
      </div>
      <div class="mb-3">
        <label for="priceProvider" class="form-label">Precio del Proveedor</label>
        <input type="number" id="priceProvider" class="form-control" formControlName="priceProvider">
      </div>
      
      
      <div class="mb-3">
        <label for="receivedDate" class="form-label">Fecha de Recepción</label>
        <input type="date" id="receivedDate" class="form-control" formControlName="receivedDate">
      </div>
      <div class="mb-3">
        <label for="expirationDate" class="form-label">Fecha de Expiración</label>
        <input type="date" id="expirationDate" class="form-control" formControlName="expirationDate">
      </div>
      <button type="submit" class="btn btn-success">Guardar Cambios</button>
    </form>
  </div>
  