<div *ngIf="!company&&!admin" class="card">
    <app-loading-data-spinner></app-loading-data-spinner>
</div>
<app-spinner *ngIf="!company&&!admin"></app-spinner>

<div *ngIf="company&&admin" class="container mt-4">


  <!-- Card de presentacion -->
  <div class="company-card">
    <div class="company-image">
      <img [src]="company.img!" alt="Imagen de la Empresa" *ngIf="company.img!">
      <!--<img src="https://w.wallhaven.cc/full/qz/wallhaven-qzpm25.jpg" alt="Test de Imagen de la Empresa">-->
    </div>
    <div class="company-details">
      <div class="company-header">
        <h2 class="company-name">{{ company.name }}</h2>
        <button class="edit-button">
          <i class="bi bi-pencil-fill"></i>
        </button>
      </div>
      <p class="company-description">{{ company.description }}</p>
      <div class="company-info-group">
        <h4 class="info-group-title">Información de contacto</h4>
        <ul class="company-info">
          <li><strong><i class="bi bi-house-door-fill"></i> Dirección:</strong> {{ company.address }}</li>
          <li><strong><i class="bi bi-telephone-fill"></i> Teléfono:</strong> {{ company.tel }}</li>
          <li><strong><i class="bi bi-at"></i> Email:</strong> {{ company.email }}</li>
        </ul>
      </div>
    </div>
  </div>



    <div class="mt-4">
        <h4>Historial de Suscripciones</h4>
        <div *ngIf="company.SuscriptionsHistory && company.SuscriptionsHistory.length; else noSubscriptions">
            <div *ngFor="let subscription of company.SuscriptionsHistory" class="card mt-2">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">{{ subscription.month }}</h6>
                    <p class="card-text"><strong>Estado:</strong> {{ subscription.state }}</p>
                    <p class="card-text"><strong>Monto Pagado:</strong> {{ subscription.amountPaid | currency }}</p>
                    <p class="card-text"><strong>Método de Pago:</strong> {{ subscription.Paymethod }}</p>
                    <p class="card-text"><strong>Referencia de Pago:</strong> {{ subscription.payReference }}</p>
                </div>
            </div>
        </div>
        <ng-template #noSubscriptions>
            <div class="card mt-2">
                <div class="card-body">
                    <p class="card-text">Sin suscripciones.</p>
                    <a routerLink="/dashboard/sysadmin/companies/subscriptions/select" class="btn btn-primary">Agregar Plan de Suscripción</a>
                </div>
            </div>
        </ng-template>
    </div>
</div>
